<div class="container">
  <div class="col col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
    <div class="login">
      <%= link_to  image_tag("btn_login_base.png", :mouseover => "btn_login_hover.png"), user_line_omniauth_authorize_path %>
    </div>
  </div>
</div>
